@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Numans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Numans', sans-serif;
    transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    user-select: none;
}

#root {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.d-orange {
    color: darkorange;
}

button,
input {
    border: none;
    outline: none;
    background-color: transparent;
}

button {
    font-weight: bold;
}

a:hover,
button:hover {
    cursor: pointer;
}